#primary-menu,
#primary-menu > .nav-menu {
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: auto;
}

.menu-item-has-children:not(.sub-menu .menu-item-has-children):before,
.menu-item-has-children:not(.sub-menu .menu-item-has-children):after,
.page_item_has_children:not(.children .page_item_has_children):before,
.page_item_has_children:not(.children .page_item_has_children):after {
  content: "\0021e3";
  transform: translateY(25%);
  display: inline-block;
  margin: 0 0.25em;
  opacity: 1;
  transition: 0.7s all ease;
}

.menu-item-has-children:not(.sub-menu .menu-item-has-children):hover:before,
.menu-item-has-children:not(.sub-menu .menu-item-has-children):hover:after,
.page_item_has_children:not(.children .page_item_has_children):hover:before,
.page_item_has_children:not(.children .page_item_has_children):hover:after {
  opacity: 0;
  transform: translateY(75%);
}

#primary-menu .menu-item,
#primary-menu .page_item {
  display: block;
  position: relative;
  margin: auto 1em;
}

#primary-menu > .menu-item,
#primary-menu .nav-menu > .page_item {
  min-width: fit-content;
}

#primary-menu ul.sub-menu,
#primary-menu ul.children {
  flex-direction: column;
  background: var(--color-white);
  position: relative;
  /* width: max-content; */
  height: max-content;
  max-width: 300px;
  max-height: 0;
  padding: 0;
  margin: 0;
  justify-content: flex-start;
  z-index: 0;
  transition: 0.3s all ease;
  transition: var(--tran-3);
  overflow: hidden;
  border-radius: 10px;
  /* overflow: auto; */
  line-height: normal;
}

@keyframes hide-scroll {
  from,
  to {
    overflow: hidden;
  }
}

#primary-menu ul.sub-menu .menu-item,
#primary-menu ul.children .page_item {
  margin: 0.5em 1em;
}

#primary-menu ul .menu-item:not(.menu-item-has-children),
#primary-menu ul.page_item :not(.page_item_has_children) {
  margin: 0 1.5em;
}

#primary-menu > li > ul.sub-menu,
#primary-menu .nav-menu > li > ul.children {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: var(--color-white);
  box-shadow: var(--box-shadow-outset-high-flat);
  transition-delay: 0.4s;
  z-index: 1;
}

#primary-menu ul.sub-menu-open {
  max-height: 1000px;
  opacity: 1;
  transition: var(--tran-7);
}

#primary-menu > li > ul.sub-menu-open,
#primary-menu .nav-menu > li > ul.sub-menu-open {
  max-height: 75vh;
  overflow: auto;
  /* Prevents scrollbar from temorarily appearing when element expanding */
  animation: hide-scroll 1s backwards;
}

#primary-menu > li > ul > li,
#primary-menu .nav-menu > li > ul > li {
  padding: 0 2em;
}

@media (hover: hover) {
  #primary-menu > li:hover > ul,
  #primary-menu > li:focus > ul,
  #primary-menu > .menu-item:focus-within > ul,
  #primary-menu .nav-menu > li:hover > ul,
  #primary-menu .nav-menu > li:focus > ul,
  #primary-menu .nav-menu > .page_item:focus-within > ul {
    max-height: 80vh;
    overflow: auto;
    /* Prevents scrollbar from temorarily appearing when element expanding */
    animation: hide-scroll 0.7s backwards;
  }

  /* For accessability: Simulates the javascript click actions */
  #primary-menu .menu-item-has-children:focus > ul,
  #primary-menu .menu-item-has-children:focus-within > ul,
  #primary-menu .page_item_has_children:focus > ul,
  #primary-menu .page_item_has_children:focus-within > ul {
    max-height: 1000px;
    opacity: 1;
    transition: var(--tran-7);
  }

  #primary-menu > li > .menu-item-has-children:focus > ul,
  #primary-menu > li > .menu-item-has-children:focus > ul,
  #primary-menu .nav-menu > li > .page_item_has_children:focus > ul,
  #primary-menu .nav-menu > li > .page_item_has_children:focus > ul {
    max-height: 75vh;
    overflow: auto;
    /* Prevents scrollbar from temorarily appearing when element expanding */
    animation: hide-scroll 0.7s backwards;
  }
  /* ******* */
}

#primary-menu li:hover ul *,
#primary-menu li:focus ul * {
  max-width: 100%;
}

#primary-menu li:hover ul,
#primary-menu li:focus ul {
  /* transition: var(--tran-10-lin); */
  transition-delay: 0s;
}

#primary-menu > li > ul > :first-child,
#primary-menu .nav-menu > li > ul > :first-child {
  margin-top: 2em !important;
  display: inline-block;
}

#primary-menu > li > ul > :last-child,
#primary-menu .nav-menu > li > ul > :last-child {
  margin-bottom: 3em;
  display: inline-block;
}

.sub-menu-toggle {
  cursor: pointer;
  position: relative;
  display: inline;
  margin-right: 0.5em;
  transition: var(--tran-7-lin);
  position: absolute;
  transform: translateX(-150%);
}

.sub-menu-toggle:before {
  content: "\eb1d";
  font-family: "font-icons";
  transform: translateY(26.5%);
  display: inline-block;
  transition: var(--tran-7);
}

.sub-menu-open.sub-menu-toggle:before {
  content: "\e71e";
  transform: translateY(26.5%) rotate(360);
}

#primary-menu > li > .sub-menu-toggle,
#primary-menu .nav-menu > li > .sub-menu-toggle {
  display: none;
}

@media only screen and (max-width: 600px), (hover: none) {
  .menu-item-has-children:not(.sub-menu .menu-item-has-children)::before,
  .menu-item-has-children:not(.sub-menu .menu-item-has-children)::after,
  .page_item_has_children:not(.children .page_item_has_children)::before,
  .page_item_has_children:not(.children .page_item_has_children)::after {
    display: none;
  }

  #primary-menu > li > .sub-menu-toggle,
  #primary-menu .nav-menu > li > .sub-menu-toggle {
    display: initial;
  }
}

@media only screen and (max-width: 600px) {
  /* Small menu. */
  #masthead .site-branding .menubar-title-positioning-wrap-x,
  #masthead .site-branding .menubar-title-positioning-wrap-y {
    transform: none !important;
  }

  #masthead.site-header {
    position: sticky;
    top: 0;
    flex-direction: column;
    max-height: 100vh;
    width: 100%;
    box-shadow: inset 20px 20px 50px -40px white,
      inset -20px -20px 50px -40px #000000;
  }

  .site-header #site-navigation.toggled:after {
    content: "";
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    pointer-events: none;
    box-shadow: inset 20px 20px 50px -40px white,
      inset -20px -20px 50px -40px #000000;
  }

  body.admin-bar #wpadminbar {
    position: fixed;
    top: 0;
    left: 0;
  }

  body.admin-bar #masthead.site-header {
    top: 46px;
    max-height: calc(100vh - 46px);
  }

  #custom-logo-wrap {
    display: none;
  }

  #masthead.site-header .site-title {
    font-size: calc(10px + 1vw);
    letter-spacing: 0.1em;
  }

  .site-header #site-navigation {
    height: 100%;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0px 14px 30px -10px black;
    max-height: 0;
    min-height: 0;
    transition: 1s all ease;
    justify-content: initial;
    animation: hide-scroll 3s backwards;
  }

  button.menu-toggle {
    font-size: calc(12px + 1vh);
    background: var(--color-black);
    border: none;
    color: var(--color-white);
    box-shadow: inset -3px -3px 3px -2px black, inset 3px 3px 3px -2px white,
      3px 3px 3px -2px rgb(0 0 0 / 50%);
    z-index: 1;
    border-radius: 10px;
    margin: 0 auto 0.75em;
    padding: 0.5em 2em;
    letter-spacing: 0.25em;
    font-weight: 700;
    transition: 0.1s width cubic-bezier(0, 1.1, 0.58, 1);
    width: 8em;
    min-height: 2em;
    max-height: 2em;
    overflow: hidden;
  }

  button.menu-toggle[aria-expanded="true"] {
    width: 17em;
  }

  button.menu-toggle[aria-expanded="true"]:before {
    content: "Close the ";
    text-shadow: inherit;
  }

  nav#site-navigation.toggled {
    max-height: calc(100vh - 100px);
    min-height: calc(100vh - 100px);
    overflow: auto;
    animation: hide-scroll 5s backwards;
  }

  .menu-main-menu-container {
    height: 100vh;
    max-width: 100vw;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: inherit;
    justify-content: initial;
    transition: 0.3s all ease;
  }

  #primary-menu,
  #primary-menu > .nav-menu {
    margin: 0 auto;
    max-height: none;
    overflow: hidden;
    padding: 3em 1em 7em;
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: center;
    overflow: visible;
  }

  #primary-menu .menu-item,
  #primary-menu .page_item {
    margin: 1em auto;
    font-size: calc(14px + 1vh);
    width: 100%;
    text-align: center;
  }

  #primary-menu > li > ul,
  #primary-menu .nav-menu > li > ul.children {
    position: relative;
    top: 0;
  }

  #primary-menu ul {
    max-width: 100%;
    padding: 0.25em;
    overflow: hidden;
    background: inherit;
    color: inherit;
  }

  #primary-menu ul .menu-item,
  #primary-menu ul .page_item {
    max-width: fit-content;
    margin: auto;
  }

  #primary-menu .menu-item-has-children:last-child,
  #primary-menu .page_item_has_children:last-child {
    margin-bottom: 4em !important;
  }

  @media (hover: hover) {
    #primary-menu > li:hover > ul,
    #primary-menu > li:focus > ul,
    #primary-menu .nav-menu > li:hover > ul,
    #primary-menu .nav-menu > li:focus > ul {
      max-height: 100vh;
      max-width: 100%;
      max-height: initial;
    }
  }

  #primary-menu > li > ul,
  #primary-menu .nav-menu > li > ul {
    max-height: 0;
    max-width: 100vw;
    overflow: hidden;
    transition: 0.3s all ease;
    background: inherit;
    color: inherit;
    box-shadow: none;
  }

  #primary-menu ul.sub-menu-open {
    max-height: 10000px !important;
    max-width: min-content;
    transition: 0.3s all ease;
    box-shadow: inset 0 0 4px -1px;
    background: inherit;
    color: inherit;
  }

  /* Offsets previous rule neded for large menu */
  #primary-menu li:hover ul *,
  #primary-menu li:focus ul * {
    max-width: fit-content;
  }

  #primary-menu ul .menu-item:not(.menu-item-has-children),
  #primary-menu ul .page_item:not(.page_item_has_children) {
    margin: auto;
    padding: 0.5em 2em;
  }
}
