#site-navigation .nav-menu {
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: auto;
}

.menu-item-has-children:not(.sub-menu .menu-item-has-children):before,
.menu-item-has-children:not(.sub-menu .menu-item-has-children):after,
.page_item_has_children:not(.children .page_item_has_children):before,
.page_item_has_children:not(.children .page_item_has_children):after {
  content: "\0021e3";
  transform: translateY(25%);
  display: inline-block;
  margin: 0 0.25em;
  opacity: 1;
  transition: 0.7s all ease;
}

.menu-item-has-children:not(.sub-menu .menu-item-has-children):hover:before,
.menu-item-has-children:not(.sub-menu .menu-item-has-children):hover:after,
.page_item_has_children:not(.children .page_item_has_children):hover:before,
.page_item_has_children:not(.children .page_item_has_children):hover:after {
  opacity: 0;
  transform: translateY(75%);
}

.menu-item-has-children:not(.sub-menu .menu-item-has-children):after,
.page_item_has_children:not(.children .page_item_has_children):after {
  margin-left: 0;
}

#site-navigation .nav-menu .menu-item,
#site-navigation .nav-menu .page_item {
  display: block;
  position: relative;
  margin: auto 1em;
}

#masthead #site-navigation .nav-menu ul {
  display: flex;
  flex-direction: column;
}

#site-navigation .nav-menu ul {
  background: var(--color-white);
  position: relative;
  /* width: max-content; */
  height: max-content;
  max-width: 300px;
  max-height: 0;
  padding: 0;
  margin: 0;
  justify-content: flex-start;
  z-index: 0;
  transition: 0.3s all ease;
  transition: var(--tran-3);
  overflow: hidden;
  border-radius: 10px;
  /* overflow: auto; */
  line-height: normal;
}

@keyframes hide-scroll {
  from,
  to {
    overflow: hidden;
  }
}

#site-navigation .nav-menu ul.sub-menu .menu-item,
#site-navigation .nav-menu ul.children .page_item {
  margin: 0.5em 1em;
}

#site-navigation .nav-menu ul.sub-menu .menu-item:not(.menu-item-has-children),
#site-navigation .nav-menu ul.children .page_item:not(.page_item_has_children) {
  margin: auto;
}

#site-navigation .nav-menu ul.sub-menu .menu-item,
#site-navigation .nav-menu ul.children .page_item {
  width: 233px;
  margin: 0.5em auto;
  padding: 0 9px;
}

#site-navigation .nav-menu > li > ul {
  position: absolute;
  max-height: 0;
  max-width: 100vw;
  overflow: hidden;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--color-white);
  box-shadow: var(--box-shadow-outset-high-flat);
  transition: 0.3s all ease;
  transition-delay: 0.4s;
  z-index: 1;
  border-radius: 10px;
}

#site-navigation .nav-menu ul.sub-menu-open {
  max-height: 1000px;
  opacity: 1;
  transition: var(--tran-7);
}

#site-navigation .nav-menu > li > ul.sub-menu-open {
  max-height: 75vh;
  overflow: auto;
  /* Prevents scrollbar from temorarily appearing when element expanding */
  animation: hide-scroll 1s backwards;
}

#site-navigation .nav-menu > li > ul > li {
  padding: 0 2em;
}

@media (hover: hover) {
  #site-navigation .nav-menu > li:hover > ul,
  #site-navigation .nav-menu > li:focus > ul,
  #site-navigation .nav-menu > .menu-item:focus-within > ul,
  #site-navigation .nav-menu > .page_item:focus-within > ul {
    max-height: 80vh;
    overflow: auto;
    /* Prevents scrollbar from temorarily appearing when element expanding */
    animation: hide-scroll 0.7s backwards;
  }

  /* For accessability: Simulates the javascript click actions */
  #site-navigation .nav-menu .menu-item-has-children:focus > ul,
  #site-navigation .nav-menu .menu-item-has-children:focus-within > ul,
  #site-navigation .nav-menu .page_item_has_children:focus > ul,
  #site-navigation .nav-menu .page_item_has_children:focus-within > ul {
    max-height: 1000px;
    opacity: 1;
    transition: var(--tran-7);
  }

  #site-navigation .nav-menu > li > .menu-item-has-children:focus > ul,
  #site-navigation .nav-menu > li > .menu-item-has-children:focus-within > ul,
  #site-navigation .nav-menu > li > .page_item_has_children:focus > ul,
  #site-navigation .nav-menu > li > .page_item_has_children:focus-within > ul {
    max-height: 75vh;
    overflow: auto;
    /* Prevents scrollbar from temorarily appearing when element expanding */
    animation: hide-scroll 0.7s backwards;
  }
  /* ******* */
}

#site-navigation .nav-menu li:hover ul,
#site-navigation .nav-menu li:focus ul {
  /* transition: var(--tran-10-lin); */
  transition-delay: 0s;
}

#site-navigation .nav-menu li ul *,
#site-navigation .nav-menu li ul * {
  max-width: 100%;
}

#site-navigation .nav-menu > li > ul > :first-child {
  display: inline-block;
  margin-top: 0.75em !important;
}

#masthead #site-navigation .nav-menu ul.sub-menu .menu-item:first-child,
#masthead #site-navigation .nav-menu ul.children .page_item:first-child {
  display: inline-block;
  margin-top: 0.75em;
  padding-top: 0.5em;
}

#masthead #site-navigation .nav-menu ul.sub-menu .menu-item:last-child,
#masthead #site-navigation .nav-menu ul.children .page_item:last-child {
  display: inline-block;
  margin-bottom: 1.5em;
}

.sub-menu-toggle {
  cursor: pointer;
  position: relative;
  display: inline;
  margin-right: 0.5em;
  transition: var(--tran-7-lin);
  position: absolute;
  transform: translate(-150%, 25%);
  color: inherit;
  opacity: 0.4;
  font-size: 0.75em;
  transition: 0.3s all linear;
}

.sub-menu-toggle:hover {
  opacity: 1;
}

.sub-menu-toggle:before {
  content: "\eb1d";
  font-family: "font-icons";
  transform: translateY(26.5%);
  display: inline-block;
  transition: var(--tran-7);
}

.sub-menu-open.sub-menu-toggle:before {
  content: "\e71e";
  transform: translateY(26.5%) rotate(360);
}

#site-navigation .nav-menu > li > .sub-menu-toggle {
  display: none;
}

@media only screen and (max-width: 800px), (hover: none) {
  .menu-item-has-children:not(.sub-menu .menu-item-has-children)::before,
  .menu-item-has-children:not(.sub-menu .menu-item-has-children)::after,
  .page_item_has_children:not(.children .page_item_has_children)::before,
  .page_item_has_children:not(.children .page_item_has_children)::after {
    display: none;
  }

  #site-navigation .nav-menu > li > .sub-menu-toggle {
    display: initial;
  }
}

@media only screen and (max-width: 800px) {
  /* Small menu. */
  #masthead .site-branding .menubar-title-positioning-wrap-x,
  #masthead .site-branding .menubar-title-positioning-wrap-y {
    transform: none !important;
    width: 100%;
  }

  #masthead.site-header {
    position: sticky;
    top: 0;
    flex-direction: row;
    max-height: 100vh;
    width: 100%;
    box-shadow: inset 20px 20px 50px -40px white,
      inset -20px -20px 50px -40px #000000;
    flex-wrap: wrap;
  }

  .site-header #site-navigation.toggled:after {
    content: "";
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    pointer-events: none;
    box-shadow: inset 20px 20px 50px -40px white,
      inset -20px -20px 50px -40px #000000;
  }

  body.admin-bar #wpadminbar {
    position: fixed;
    top: 0;
    left: 0;
  }

  body.admin-bar #masthead.site-header {
    top: 32px;
    max-height: calc(100vh - 32px);
  }

  #custom-logo-wrap {
    display: none;
  }

  #masthead.site-header .site-title {
    font-size: calc(10px + 1vw);
    letter-spacing: 0.1em;
    text-align: center;
  }

  .site-header #site-navigation {
    height: 100%;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0px 14px 30px -10px black;
    max-height: 0;
    min-height: 0;
    transition: 1s all ease;
    justify-content: initial;
    animation: hide-scroll 3s backwards;
  }

  button.menu-toggle {
    font-size: calc(12px + 1vh);
    background: var(--color-black);
    border: none;
    color: var(--color-white);
    box-shadow: inset -3px -3px 3px -2px black, inset 3px 3px 3px -2px white,
      3px 3px 3px -2px rgb(0 0 0 / 50%);
    z-index: 1;
    border-radius: 10px;
    margin: 0 1%;
    padding: 0.5em 2em;
    letter-spacing: 0.25em;
    font-weight: 700;
    transition: 0.1s width cubic-bezier(0, 1.1, 0.58, 1);
    min-height: 2em;
    max-height: 2em;
    min-width: 320px;
    flex-basis: 50%;
    flex-grow: 1;
    overflow: hidden;
  }

  button.menu-toggle[aria-expanded="true"] {
    width: 17em;
  }

  button.menu-toggle[aria-expanded="true"]:before {
    content: "Close the ";
    text-shadow: inherit;
  }

  nav#site-navigation.toggled {
    max-height: 100vh;
    min-height: 100%;
    overflow: auto;
    animation: hide-scroll 5s backwards;
  }

  .menu-main-menu-container {
    height: 100vh;
    max-width: 100vw;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: inherit;
    justify-content: initial;
    transition: 0.3s all ease;
  }

  #site-navigation .nav-menu {
    margin: 0 auto;
    max-height: none;
    overflow: hidden;
    padding: 3em 1em 7em;
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-items: center;
    overflow: visible;
  }

  #site-navigation .nav-menu > li > ul {
    box-shadow: none;
  }

  #site-navigation .nav-menu .menu-item,
  #site-navigation .nav-menu .page_item {
    font-size: calc(14px + 1vh);
    width: 100%;
    max-width: 100%;
  }

  #site-navigation .nav-menu ul.sub-menu .menu-item,
  #site-navigation .nav-menu ul.children .page_item {
    width: 100%;
  }

  #site-navigation .nav-menu > li > ul {
    position: relative;
    top: 0;
  }

  .sub-menu-toggle {
    transform: translate(-150%, 0%);
  }

  #site-navigation .nav-menu > li > ul > :first-child {
    margin-top: 0.5em !important;
  }

  @media (hover: hover) {
    #site-navigation .nav-menu > li:hover > ul,
    #site-navigation .nav-menu > li:focus > ul {
      /* max-height: 100vh;
      max-width: 100%;
      max-height: initial; */
      max-height: 0;
    }
  }
}

/* ------------------ */
/* ------------------ */
/* ------------------ */
/* ------------------ */

#site-navigation .nav-menu .menu-item,
#site-navigation .nav-menu .page_item {
  margin: 0.5em auto;
  text-align: center;
}

#site-navigation .nav-menu ul {
  max-width: 100%;
  overflow: hidden;
  background: inherit;
  color: inherit;
}

#site-navigation .nav-menu > .menu-item-has-children:last-child,
#site-navigation .nav-menu > .page_item_has_children:last-child {
  margin-bottom: 4em !important;
}

/* The following provides an offset for the expand symbol */
#site-navigation .page_item.page_item_has_children:before {
  content: "";
  padding-left: 1em;
}

#site-navigation .nav-menu ul.sub-menu-open {
  max-height: 40em !important;
  margin: 0.5em auto;
  transition: 0.3s all linear;
  box-shadow: inset 0 0 4px -1px;
  background: inherit;
  color: inherit;
}

/* Offsets previous rule neded for large menu */
/* #site-navigation .nav-menu li:hover ul *, */
#site-navigation .nav-menu li:focus ul * {
  max-width: fit-content;
}

#site-navigation .nav-menu ul.sub-menu .menu-item:not(.menu-item-has-children),
#site-navigation .nav-menu ul.children .page_item:not(.page_item_has_children) {
  margin: auto;
  padding: 0.5em 2em;
}

/* #site-navigation .nav-menu ul.sub-menu .menu-item-has-children ul {
  left: -0.5em;
}

#site-navigation .nav-menu ul.sub-menu .menu-item-has-children {
  left: 0.5em;
} */
